.list-box.background-outer {
    background-color: transparent;
    color: white;
}

.list-box.background-inner {
    background-color: gray;
}

.list-box.box-height {
    height: 100px;
}

.list-box.icon-design {
    font-size: 3em;
}

.list-box.celsius-design {
    font-size: 1.5em;
}