.list-box.background-outer {
    background-color: transparent;
    color: white;
}

.list-box.background-inner {
    background-color: gray;
}

.list-box.box-height {
    height: 100px;
}

.list-box.icon-design {
    font-size: 3em;
}

.list-box.celsius-design {
    font-size: 1.5em;
}

.list-box.cursor-pointer {
    cursor: pointer;
}

.list-box.hidden-popup {
    opacity: 0.9;
    display: none;
    position: absolute;
    min-width: 350px;
    min-height: 200px;
    top: -300px;
    z-index: 9999;
}

.modal-dialog {
    opacity: 0.9;
}

/* .modal-content {
    opacity: 0;
} */

/* .modal-body {
    opacity: 0.4;
} */